<div class="polyhacks-grid about" id="about">
    <div class="polyhacks-grid__col--md--7">
      <img class="about__phone" src="./assets/images/technology/polyhacks-phone.svg">
      <img class="about__laptop" src="./assets/images/technology/polyhacks-laptop.svg">
    </div>
    <div class="polyhacks-grid__col--md--5 about__content">
      <h2>What is Camp PolyHacks?</h2>
      <p>Camp PolyHacks is a student-run, multidisciplinary hackathon focused on social entrepreneurship and human centered&nbsp;design.</p>
      <p>In 48 hours, students of all backgrounds compete to build businesses and any tech product to solve a problem currently impacting the&nbsp;community.</p>


    </div>
</div>