<div class="material-grid">
    <div class="material-container--left material-grid__col--medium--7">
        <p>test</p>
      </div>

    <div class="material-container--right material-grid__col--medium--5 material-padding--horizontal">
      <h2>What is Camp PolyHacks?</h2>
      <p>Camp PolyHacks is a student-run, human-centered, social-entrepreneurship hackathon. In 48 hours, students off all backgrounds compete to create websites,apps, or anything they can muster up to solve a problem within the San Luis Obispo community.</p>
    </div>
  

</div>