<div class="polyhacks-grid about">
    <div class="polyhacks-grid__col--md--7">
      <img class="about__phone" src="./assets/images/polyhacks-phone.svg">
      <img class="about__laptop" src="./assets/images/polyhacks-laptop.svg">
    </div>
    <div class="polyhacks-grid__col--md--5">
      <h2>What is Camp PolyHacks?</h2>
      <p>Camp PolyHacks is a student-run, human-centered, social-entrepreneurship hackathon focused on social entrepreneurship and human centered design.</p>
      <p>In 48 hours, students off all backgrounds compete to create websites,apps, or anything they can muster up to solve a problem within the San Luis Obispo community.</p>
    </div>
</div>