<div class="polyhacks-grid__col--md--6 faq polyhacks-grid">
<h2>FAQ</h2>
<div >
  <p>What is a Hackathon?</p>
  <p>Camp PolyHacks is a weekend event where designers, developers, entrepreneurs  can collaborate, learn, and create. The goal is to work within a team to ideate, design, pitch, and market a fully functioning product over a short period of time. It’s learn by doing at its best.</p>
</div>

<div >
    <p>When is it happening?</p>
    <p>This year’s Hackathon will be kicking off on Friday, January 18 at 5 PM. We’ll be hacking until the awards ceremonies the next day on Saturday, January 19 till 9 PM.</p>
</div>

<div>
    <p>How do I sign up for Camp PolyHacks?</p>
    <p>You can sign up for Camp PolyHacks through the simple application we will open in November. Stay tuned!</p>
</div>

<div>
    <p>How can I sponsor Camp PolyHacks?</p>
    <p>You can sponsor Camp PolyHacks by reaching out to us at team.camppolyhacks@gmail.com. All information is located in the Sponsorship section above or the packet here.</p>
</div>

<div >
    <p>When/Where is Camp PolyHacks?</p>
    <p>Camp PolyHacks will be held on January 18-19, 2019 at the Hot House, SLO’s entrepreneurship space in downtown right above Ross.</p>
</div>

<div >
    <p>What should I expect on the day of the event?</p>
    <p>The schedule will be released closer to the event, but you can expect unlimited free food, snacks, drinks, helpful company mentors/resources, and exciting activities to take a break from hacking.</p>
</div>

<div >
    <p>How much does it cost?</p>
    <p>Camp PolyHacks is 100% $Free! </p>
</div>

<div>
    <p>What do I need to bring?</p>
    <p>Bring your laptop, chargers, sleeping bags/materials if you’re staying overnight, and your A-game!</p>
</div>

<div>
        <p>Do I need to be an experienced coder?</p>
        <p>Not at all! We welcome campers of all backgrounds and experience levels. This is your time to learn something new.</p>
</div>

<div>
        <p>What are the prizes and how are projects judged?</p>
        <p>Each team pitches and is judged based on their Business Model, Technical Capability, and User Experience. Past prizes include Google DayDreams and Amazon Echos.</p>
</div>

<div>
        <p>Will I be able to sleep during the hackathon?</p>
        <p>Yes, there will be places available for teams to rest at the Hot House overnight.</p>
</div>

<div>
        <p>How do I form teams and how big can they be?</p>
        <p>Teams can be up to 10 people and if you don’t have a team yet, there will be time on Friday to ﬁnd one.</p>
</div>

</div>