<div style="background:url(assets/images/mountains/footer-background.svg); background-size: cover; padding-top: 258px;" class="polyhacks-grid polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl">
    <div class="polyhacks-grid__col--md--6 polyhacks-grid__col--xsm--4 footer__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vi4fe4O0lsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4"></iframe>
    </div>

    
    <div style="padding-bottom: 256px;" class="polyhacks-grid__col--md--6 polyhacks-grid__col--xsm--4">
            <h2>Connect With Us!</h2>
            <div class="polyhacks-grid" style="font-size: 350%; justify-items: center;">
            <a href="https://www.instagram.com/camppolyhacks/" class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/camppolyhacks/"  class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/company/camppolyhacks/"  class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--4">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="mailto:team.camppolyhacks@gmail.com"  class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="2018-site/index.html"  class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2">
                <p style="margin-top: 0; font-size: 50%; font-weight: 700; line-height: 0.9; text-decoration: none;">20<br>18</p>
            </a>
        </div>
    </div>

    <footer class="footer">
        <img src="./assets/images/logos/white-logo.svg" class="footer__image">
        <p style="margin-bottom: 0"><span class="small">
            Made with <i class="fas fa-heart"></i>
        </span></p>
        <p style="margin-top: 0"><span class="small">
            &copy; Camp PolyHacks 
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
        </span></p>
    </footer>
</div>