<div class="polyhacks-grid landing polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl" id="landing">

      <div class="polyhacks-grid__col--md--6 polyhacks-grid__col--xsm--4 footer__video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/vi4fe4O0lsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4"></iframe>
      </div>

  <div class="polyhacks-grid__col--md--4 landing__content">
    <img class="landing__image" src="./assets/images/logos/white-logo.svg">
    <h1 class="big">We're Hiring!</h1>
    <p>Help us design the next Camp Polyhacks!</p>
    <a href="/apply" class="button button__main button-mat btn--7 btn--7--white">Apply</a>
  </div>
</div>
