<div class="polyhacks-grid landing polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl" id="landing">
    <h1 class="polyhacks-grid__col--md--6 landing__test">Calling All Trailblazers.</h1>
  <div class="polyhacks-grid__col--md--4 landing__content">
    <img class="landing__image" src="./assets/images/logos/white-logo.svg">
    <h1 class="big">Camp PolyHacks 3.0</h1>
    <p>January 18–19, 2019 @ SLO Hot House</p>
    <a href="https://camppolyhacks19.typeform.com/to/TMPKlh" class="button button__main">Apply</a>
  </div>
</div>
