<div class="polyhacks-grid landing polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl" id="landing">
    <h1 class="polyhacks-grid__col--md--6 landing__test">Calling All Trailblazers.</h1>
  <div class="polyhacks-grid__col--md--4 landing__content">
    <img class="landing__image" src="./assets/images/logos/white-logo.svg">
    <h1 class="big">Camp PolyHacks 3.0</h1>
    <p>January 18–19, 2019 @ SLO Hot House</p>
    <a href="https://polyhacks2019.devpost.com" class="button button__main button-mat btn--7 btn--7--white">Devpost</a>
    <a href="https://drive.google.com/drive/folders/1j3lgJ43RQWUjq95J6xmt73t_BomEau40?usp=sharing" class="button button__main button-mat btn--7 btn--7--white" style="margin-top: 16px;">Camper Guide</a>
  </div>
</div>
