<nav class="nav polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl">
  <h3><a href="#landing" class="nav__title" style="color: black; font-family: "Bitter", serif;">Camp PolyHacks</a></h3>

  <div class="nav__links">
    <a href="#about" style="text-decoration: none;"><li>About</li></a>
    <a href="#trails" style="text-decoration: none;"><li>Trails</li></a>
    <a href="#schedule" style="text-decoration: none;"><li>Schedule</li></a>
    <a href="#sponsor" style="text-decoration: none;"><li>Sponsorship</li></a>
    <a href="#faq" style="text-decoration: none;"><li>FAQ</li></a>
    <a href="#team" style="text-decoration: none;"><li>Team</li></a>
  </div>


</nav>