<nav class="nav polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl">
  <h3><a href="#landing" class="nav__title" style="color: black; font-family: "Bitter", serif;">Camp PolyHacks</a></h3>

  <div class="nav__links">
    <a href="#landing" style="text-decoration: none;"><li>We're Hiring!</li></a>
    <a href="#about" style="text-decoration: none;"><li>About</li></a>
    <a href="#sponsor" style="text-decoration: none;"><li>Sponsorship</li></a>
    <a href="#contact" style="text-decoration: none;"><li>Contact</li></a>
  </div>


</nav>