<nav class="nav polyhacks-container__bleed--md polyhacks-container__bleed--xsm polyhacks-container__bleed--sm polyhacks-container__bleed--xl">
  <h3><a href="#landing" style="color: black"; >Camp PolyHacks</a></h3>

  <div class="nav__links">
    <a href="#about" style="color: black"><li>About</li></a>
    <a href="#values" style="color: black"><li>Values</li></a></li>
    <a href="#sponsor" style="color: black"><li>Sponsorship</li></a>
    <a href="#faq" style="color: black"><li>FAQ</li></a>
  </div>


</nav>