<h2>Our Past Sponsors</h2>
<div class="polyhacks-grid">
  <img class="polyhacks-grid__col--md--3" src="assets/images/past-sponsors/GE.svg img--icons">
  <img class="polyhacks-grid__col--md--3" src="assets/images/past-sponsors/WORKDAY.svg img--icons">
  <img class="polyhacks-grid__col--md--3" src="assets/images/past-sponsors/CIE.svg img--icons">
</div>
<div class="polyhacks-grid">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/TRANSUNION.svg img--icons">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/MINDBODY.svg img--icons">
</div>
<div class="polyhacks-grid">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/TRANSUNION.svg">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/PARIVEDA.svg img--icons">

</div>