<h2 id="sponsors" style="padding-bottom: 64px; padding-top:128px">Our Sponsors!</h2>
<div class="polyhacks-grid sponsor">
  <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/first row/Amazon_logo_plain.svg" style="height: 100px; width: 100%; padding: 4px 0px" >
  <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/first row/Northrop_Grumman.svg" style="height: 100px; width: 100%; padding: 4px 0px" >
  <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/first row/Pariveda logo-Horizontal EPS-white.svg" style="height: 100px; width: 100%; padding: 4px 0px" >
</div>
<div class="polyhacks-grid sponsor">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/second row/WhiteFox logo WHITE.png" style="height: 70px; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/second row/Hathway_StackedMark-WH.png" style="height: 100px; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/third row/viasatwhite.png" style="height: 100px; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/second row/logo_pwc_white.png" style="height: 100px; padding: 4px 0px">   
</div>
<div class="polyhacks-grid sponsor">
    <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/second row/Microsoft_logo_(2012).svg" style="height: 100px; width: 100%; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/third row/informatica-w.png" style="height: 100px; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--4 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/third row/IFixit_logo.svg" style="height: 100px; width: 100%; padding: 4px 0px">
</div>
<div class="polyhacks-grid sponsor">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/fourth row/CLA_Wdmk_Vrt_CMYK_Rev.png" style="height: 100px; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/fourth row/White CIE logo.png" style="height: 100px; padding: 16px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/fourth row/Cal_Poly_San_Luis_Obispo_wordmark.svg" style="height: 100px; width: 100%; padding: 4px 0px">
    <img class="polyhacks-grid__col--md--3 polyhacks-grid__col--xsm--4" class="pastSponsors" src="assets/images/logos/fourth row/matpicapi.png">
</div>
