<h2>Our Past Sponsors</h2>
<div class="polyhacks-grid">
  <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/GE.svg">
  <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/WORKDAY.svg">
  <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/CIE.svg">
</div>
<div class="polyhacks-grid">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/TRANSUNION.svg">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/MINDBODY.svg">
</div>
<div class="polyhacks-grid">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/OCOB.svg">
    <img class="polyhacks-grid__col--md--3" src="/assets/images/past-sponsors/PARIVEDA.svg">

</div>