<div class="polyhacks-grid" style="padding: 128px 0px" id="schedule">
<h2 style="text-align:center;">Schedule</h2>
<div class="polyhacks-grid__col--md--6 polyhacks-grid green-container">
  <h2 class="green-container__header" style="font-size: 150%;">
    Friday, January 18th 2019
  </h2>

  <div class="green-container__body" style="padding:1em;">   
    {% for day in site.data.schedule %}
      {% if day.days == "one" %}
        <p><span style="font-weight: bold;">{{ day.time }}</span><br><span>{{ day.event }}</span></p>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="polyhacks-grid__col--md--6 polyhacks-grid green-container">
    <h2 class="green-container__header" style="font-size: 150%;">
      Saturday, January 19th 2019
    </h2> 
    
    <div class="green-container__body" style="padding:1em;">
    {% for day in site.data.schedule %}
        {% if day.days == "two" %}
          <p><span style="font-weight: bold;">{{ day.time }}</span><br><span>{{ day.event }}</span></p>
        {% endif %}
    {% endfor %}
    </div>
     
</div>

  {% include speaker.html %}

</div>