<div class="polyhacks-grid">
<h2 class="">Two years of PolyHacks in numbers</h2>
<div class="polyhacks-grid">

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">
  <div class="polyhacks-grid__col--md--2 polyhacks-grid">
    <p>20%<br>Hustlers<br>(Business)</p>
  </div>

  <img src="./assets/images/maple/moose-business.svg" class="polyhacks-grid__col--md--2">

  </div>

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">
  <div class="polyhacks-grid__col--md--2 polyhacks-grid">
    <p>41%<br>Hackers<br>(Engineering)</p>
  </div>
  
  <img src="./assets/images/maple/moose-coder.svg" class="polyhacks-grid__col--md--2">

  </div>

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">

  <div class="polyhacks-grid__col--md--2 polyhacks-grid">
    <p>39%<br>Hipsters<br>(Design)</p>
  </div>
  <img src="./assets/images/maple/moose-hip.svg" class="polyhacks-grid__col--md--2">

  </div>
      

</div>
<div>
  <div class="polyhacks-grid">
    <img src="./assets/images/other/mentor.svg" class="polyhacks-grid__col--md--4">
      <p class="polyhacks-grid__col--md--4">
          28 mentors<br>
          from 12 company booths
      </p>

  </div>

  <div class="polyhacks-grid">
    <p class="polyhacks-grid__col--md--4">
        $8,000+<br>
        in prizes
    </p>
    <img src="./assets/images/other/winner.svg" class="polyhacks-grid__col--md--4">
  </div>



</div>

</div>
