<div class="material-grid">
<h2 class="material-padding--horizontal">Two years of PolyHacks in numbers</h2>
<div class="material-grid">

  <div class="material-container--left material-padding--horizontal material-grid__col--medium--4">
  <p>20% Hustlers (Business)</p>
  
  </div>
  <div class="material-container--left material-grid__col--medium--4 material-padding--horizontal">
  <p>41% Hackers (Engineers)</p>
    
  </div>
  <div class="material-container--left material-grid__col--medium--4 material-padding--horizontal">
  <p>39% Hipsters (Designers)</p>
  </div>
      

</div>

</div>
