<div class="polyhacks-grid" style="padding: 128px 0px;">
<h2 >Two years of PolyHacks in numbers</h2>
<div class="polyhacks-grid">

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">
    <p class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2"> <span class="big">20%</span><br>Hustlers<br><span class="small">(Business)</span></p>
    <img src="./assets/images/maple/moose-business.svg" class="polyhacks-grid__col--xsm--2 polyhacks-grid__col--md--2 polyhacks-padding--left img--icons" style="height: 200px;">

  </div>

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">
    <p class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2"><span class="big">41%</span><br>Hackers<br><span class="small">(Engineering)</span></p>
    <img src="./assets/images/maple/moose-coder.svg" class="polyhacks-grid__col--md--2 polyhacks-grid__col--xsm--2 polyhacks-padding--left img--icons polyhacks-grid__height--xsm" style="height: 200px;">
  </div>

  <div class="polyhacks-container--left polyhacks-grid__col--md--4 polyhacks-grid">
    <p class="polyhacks-grid__col--md--1 polyhacks-grid__col--xsm--2"><span class="big">39%</span><br>Hipsters<br><span class="small">(Design)</span></p>
    <img src="./assets/images/maple/moose-hip.svg" class="polyhacks-grid__col--md--2 polyhacks-grid__col--md--2 polyhacks-grid__col--xsm--2 img--icons polyhacks-grid__height--xsm" style="min-height: 200px; margin-top: -35px; height: 275px;">
  </div>
      

</div>
<div>
  <div class="polyhacks-grid">
      <p class="polyhacks-grid__col--md--4 stats__center">
          <span class="big">28 mentors</span><br>
          from 12 company booths
      </p>
      <img src="./assets/images/other/mentor.svg" class="polyhacks-grid__col--md--4 img--icons" style="height: 200px;">

  </div>

  <div class="polyhacks-grid">
    <p class="polyhacks-grid__col--md--4  stats__center">
        <span class="big">$8,000+</span><br>
        in prizes
    </p>
    <img src="./assets/images/other/winner.svg" class="polyhacks-grid__col--md--4 img--icons" style="height: 200px;">
  </div>



</div>

</div>
