<h2>Meet the Team</h2>
<div class="polyhacks-grid polyhacks-grid__col--md--12">
<div class="people">
{% include person.html %}
{% include person.html %}
{% include person.html %}
{% include person.html %}
{% include person.html %}
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
        {% include person.html %}
        {% include person.html %}
        {% include person.html %}
        {% include person.html %}
</div>


</div>