<h2 id="team" style="padding-top: 164px;">Meet the Team</h2>
<div class="polyhacks-grid polyhacks-grid__col--md--12">
<div class="people">
    <div class="person">
        <img src="./assets/images/directors/rutu.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Rutu Samai</b> <br> <i>Lead Director</i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/diane.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Diane Hahn</b> <br> <i>Design + Tech Director</i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/cel.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Celestine Co</b> <br> <i>Sponsorship Director</i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/brooke.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Brooke Panian</b> <br> <i>Marketing Director</i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/jim.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Jim Heald</b> <br> <i>Event + Experience Director</i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/kristen.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Kristen Nagamatsu</b> <br> <i>Design + Tech </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/javi.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Javier Garcia</b> <br> <i>Design + Tech </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/sami.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Samantha Magtoto</b> <br> <i>Sponsorship </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/eric.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Eric Zhou</b> <br> <i>Sponsorship </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/kellie.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Kellie Banzon</b> <br> <i>Marketing </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/rachel.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Rachel Hsieh</b> <br> <i>Event + Experience </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/arun.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Arun Shriram</b> <br> <i>Event + Experience </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/aviral.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Aviral Kukreja</b> <br> <i>Event + Experience </i></span></p>
    </div>
    <div class="person">
        <img src="./assets/images/directors/teja.jpg" class="person__image">
        <p class="person__content" ><span class="small"><b>Sriteja Vemula</b> <br> <i>Event + Experience </i></span></p>
    </div>
</div>


</div>