<h2>Meet the Team</h2>
<div class="polyhacks-grid person">
{% include person.html %}
{% include person.html %}
{% include person.html %}
{% include person.html %}
{% include person.html %}
</div>
<div class="polyhacks-grid person">
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
    {% include person.html %}
</div>
<div class="polyhacks-grid person">
        {% include person.html %}
        {% include person.html %}
        {% include person.html %}
        {% include person.html %}
        {% include person.html %}
        </div>
<div>

</div>
<div>

</div>