
<div>
    <h2 class=""> Camp Polyhacks values...</h2>
    <div class="polyhacks-grid">

    <div class="polyhacks-grid">

      <div class="polyhacks-container--left polyhacks-grid__col--md--5  polyhacks-container__break--md--right">
          <h2>Problem Solving</h2>
          <hr>
          <p>Camp PolyHacks is a Learn By Doing experience. We encourage campers of all levels to step outside of their comfort zone to learn new skills and tackle problems head-on.</p>
      </div>

    </div>

    <div class="polyhacks-grid">
        <div class="polyhacks-container--left polyhacks-grid__col--md--5 polyhacks-container__break--md--right">
          <h2>Multidisciplinary Teams</h2>
          <hr>
          <p>This hackathon goes beyond coding. Designers, entrepreneurs, and developers work together in teams to unite skill sets, experiences, and perspectives to execute ideas- just as you would in the workforce.</p>
        </div>


    </div>

    <div class="polyhacks-container--left polyhacks-grid__col--md--5  polyhacks-container__break--md--right">
        <h2>Social Entrepreneurship</h2>
        <hr>
        <p>We believe in using technology for good. Campers are made aware of important problems in the community and Camp Polyhacks is a platform to solve them.</p>
      </div>

    </div>

  </div>
  
  
  
  