
<div style="padding: 128px 0px;" id="values">
    <h2>Our Focus</h2>
    <div class="polyhacks-grid" style="padding-bottom: 64px;">
      <div class="polyhacks-container--left polyhacks-grid__col--md--6">
          <h3>Problem Solving</h3>
          <hr class="values__line">
          <p>Camp PolyHacks is a Learn By Doing experience. We encourage campers of all levels to step outside of their comfort zone to learn new skills and tackle problems head-on.</p>
      </div>
      <img src="./assets/images/values/light.svg" class="polyhacks-grid__col--md--2 polyhacks-grid__col--xsm--2 values__images img--icons polyhacks-grid__height--xsm" style="height: 200px;">
    </div>

    <div class="polyhacks-grid">
        <div class="polyhacks-container--left polyhacks-grid__col--md--6" style="padding-bottom: 64px;">
          <h3>Multidisciplinary Teams</h3>
          <hr class="values__line">
          <p>This hackathon goes beyond coding. Designers, entrepreneurs, and developers work together in teams to unite skill sets, experiences, and perspectives to execute ideas &mdash; just as you would in the&nbsp;workforce.</p>
        </div>
        <img src="./assets/images/values/tools.svg" class="polyhacks-grid__col--md--2 polyhacks-grid__col--xsm--2 values__images img--icons polyhacks-grid__height--xsm" style="height: 200px;">
    </div>

    <div class="polyhacks-grid">
      <div class="polyhacks-container--left polyhacks-grid__col--md--6">
          <h3>Social Entrepreneurship</h3>
          <hr class="values__line">
          <p>We believe in using technology for good. Campers are made aware of important problems in the community and Camp Polyhacks is a platform to solve them.</p>
      </div>
      <img src="./assets/images/values/community.svg" class="polyhacks-grid__col--md--2 polyhacks-grid__col--xsm--2 polyhacks-grid__height--xsm values__images img--icons" style="height: 200px;">
    </div>

  </div>
 
  
  
  
  