
<div>
    <h2 class="material-padding--horizontal"> Camp Polyhacks values...</h2>
    <div class="material-grid">

      <div class="material-container--left material-grid__col--medium--6 material-padding--horizontal material-container__break--medium--right">
        <h2>Social Entrepreneurship</h2>
        <hr>
        <p>Camp PolyHacks is a Learn by Doing Experience.</p>
      </div>

      <div class="material-padding--horizontal material-container--right material-grid__col--medium--6">
        <p>test</p>
      </div>

    </div>


    <div class="material-grid">

      <div class="material-container--left material-grid__col--medium--6 material-padding--horizontal material-container__break--medium--right">
          <h2>Problem Solving</h2>
          <hr>
          <p>Camp PolyHacks is a Learn by Doing Experience.</p>
      </div>

      <div class="material-container--right material-grid__col--medium--6 material-padding--horizontal">
        <p>test</p>
      </div>

    </div>

    <div class="material-grid">
        <div class="material-container--left material-grid__col--medium--6 material-padding--horizontal">
          <h2>Community</h2>
          <hr>
          <p>Camp PolyHacks is a Learn by Doing Experience.</p>
        </div>

        <div class="material-container--right material-grid__col--medium--6 material-padding--horizontal">
          <p>test</p>
        </div>   

    </div>
  </div>
  
  
  
  