$grid-values: (
  prefix: polyhacks,
  breakpoints: (
    xsm: (
      breakpoint: 22.5,
      columns: 4,
      gutter: 1rem,
      margin: 5vw
    ),
    sm: (
      breakpoint: 37.5,
      columns: 8,
      gutter: 1rem,
      margin: 5vw
    ),
    md: (
      breakpoint: 64,
      columns: 12,
      gutter: 2rem,
      margin: 5vw
    ),
    xl: (
      breakpoint: 120,
      columns: 12,
      gutter: 2rem,
      margin: 5vw
    )
  ),
  extraArtboards: (
    large: 90
  ),
  rem: 16,
  rowHeight: 0.5,
  rows: 30,
  paths: null
);