.button{
  text-decoration: none;
  border: none;
  padding: 2px 12px;
  background-color: white;
  border-radius: 25px;
  color: #0d47a1;
  text-decoration: none;
  font-size: 2em;

  &__main{
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 32px;
    text-transform: uppercase;
  }
  
}

/* codepen classes*/

.button-mat {
  color: #0d47a1;
  border: 0px transparent;
  transition: 0.3s ease-in-out;
  transition-delay: 0.35s;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    background: #0d47a1;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  }

}

.button-mat:hover .psuedo-text {
  color: white;
}
.btn--7 {
  border: 0px transparent;

  &:before {
    transform: translate(-110%, -110%) translateZ(0);
    content: "";
    display: block;
    background: #00BF8C;
    position: absolute;
  }
}

.btn--7:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}

.psuedo-text {
  color: #0d47a1;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  transition: 0.25s ease-in;
  transition-delay: 0.1s;
  border: 1px solid transparent
}