h1,h2,h3,h4,p,li{
  font-family: 'Open Sans', sans-serif;
}


h1{
  padding-bottom: 0.5em;
  font-size: 216.67%;
  line-height: 1em;
  font-family: "Bitter",serif;
}

p{
  font-size: 125%;
  line-height: 1.3em;
  padding-bottom: 0.25em;
}
