.landing{
  &__test{
    font-size: calc(40px + 3vw);
    opacity: 0.7;
  }

  height: 80vh;
  background: url(/assets/images/mountains/landing-background.svg),  #C5DCF2 ;
  background-size: cover;
  padding-top: 64px;
  &__content{
    @media only screen and (min-width: 1024px) {
      grid-column: 8 / span 5;
    }
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  &__image{
    max-width: 300px;
  }

  h1{
    margin-bottom: 0;
    letter-spacing: 0.05em;
  }

  p{
    margin-top: -0.75em;
  }


}