.nav{
  color: black;
  position: sticky;
  position: -webkit-sticky;
  background: #ffffff;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  
  &__links{
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  li{
    padding: 0 16px;
  }
}