.nav{
  color: black;
  position: sticky;
  position: -webkit-sticky;
  background: #ffffff;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 900px){
    display: none;
  }



  
  &__links{
    color: black;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px){
      display: none;
    }

  }

  li{
    padding: 39px 16px;
    color: black;
    font-family: "Bitter", serif;
    &:hover{
      background: #00BF8C;
    }
  }


  &__title{
    color: black;
    font-family: "Bitter", serif;
    text-transform: none;
    text-decoration: none;
  }
}