.values{

  &__images{
    @media only screen and (max-width: 1024px) {
    grid-area: 1;
    }
    @media only screen and (min-width: 1024px) {
      grid-column: 12;
      justify-self: end;
      }
  }

  &__line{
    @media only screen and (min-width: 1024px){
      width: 190%;
    }
  }


}