<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" xmlns="http://www.w3.org/1999/xhtml"
xmlns:fb="http://ogp.me/ns/fb#">

  {% include head.html %}

  <body class="polyhacks-container">
      
    <main class="main polyhacks-grid" aria-label="Content">
      {% include nav.html %}
      {% include landing.html %}
      {% include about.html %}
      {% include statistics.html %}
      {% include values.html %}
      {% include pastSponsors.html %}
      {% include sponsors.html %}
      {% include faq.html %}
      {% include team.html %}
      {% include footer.html %}
    </main>
 
  </body>
  
</html>
