<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="polyhacks-container">
      
    <main class="main polyhacks-grid" aria-label="Content">
      {% include landing.html %}
      {% include nav.html %}
      {% include about.html %}
      {% include statistics.html %}
      {% include values.html %}
      {% include pastSponsors.html %}
      {% include sponsors.html %}
      {% include faq.html %}
      {% include footer.html %}
    </main>

 
  </body>
  
</html>
